<!DOCTYPE html>
<html>
<head>
    <title>Upload Image for Classification</title>
    <link rel="stylesheet" href="../static/upload.css">
</head>
<body>
    <h1>Upload Image</h1>
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <select name="model_selection">
            <option value="denseNet">Dense Net</option>
            <option value="efficientNet">Efficient Net</option>
            <option value="inceptionV3">Inception V3</option>
            <option value="resNet">Res Net</option>
        </select>
        <input type="submit" value="Upload">
    </form>
</body>
</html>